@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Teko&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

header{
    background-color: grey;
}

body{
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: black;
}

h1, h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black

}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 80px;
}

    /* Nav element  */

#menu {
    font-size: 220%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 80px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;

}

.active {
    border-bottom: 2px solid #3a3a3a;
}