@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Teko&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

header {
    background-color:#bfbebe;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

body{
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #f5f5f5;
    background-color: black;
}

h1 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:#f5f5f5;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: black;
}


#logo {
    float: left;
    font-size: 350%;
    margin-left: 70px;  
}

    /* Nav element  */

#menu {
    font-size: 230%;
    letter-spacing: 5px;   
}

#menu, #logo {
    line-height: 85px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 70px;  
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}


/* image */

#hero {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-stefan-lorentz-668196.jpg')no-repeat center center;
    margin-top: 80px;
    
}

/* About */

#about{
    height: 550px;
}
#left {
    padding: 110px;
    width: 34.5%;
    height: 330px;
    display: inline-block;
    vertical-align: top;
    background-image: url('../images/pexels-maor-attias-5152514.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    position: static;
}
#right {
    padding:110px;
    width: 34.5%;
    height: 330px;
    background-image: url('../images/pexels-caleb-oquendo-3162022.jpg');
    position: static;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: inline-block;
    vertical-align:top;
    overflow: hidden;
}

#right > p {
    background-color: rgb(245, 245, 245, 70%);
    color: black;
    padding: 15px;
    margin: 0px 10% 0 0;
    font-size: 20px;
    text-align: center;  
}

#right > h2{
    color: white;
    text-align: left;
    font-size: 37px;
    letter-spacing: 2px;
    padding-bottom: 15px;   
}
/* footer styling  */

footer {
    height: 100px;
    background-color: #bfbebe;  
    overflow: hidden;
    
    
}

.social {
    text-align: center;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 50px;
    margin: 1%;
    padding: 1%;
    color: white;
}

/* Gallery styling  id = photos */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}


/* contact form */

#contact {
    background: url('../images/pexels-moiseÌs-delgado-7919445\ copy\ 3.jpg')no-repeat center;
    height: 600px;
    position: relative;
}

/* .contact-form - old code {
    background-color: rgba(139, 139, 139, 0.5);
    padding: 150px;
    color: white;
    max-width: 450px;
    /* height: 50%; */
    /* font-size: 25px;
    margin-left: 25%;

}  */

.contact-form{
    margin: 60px 10% 0 0;
    color: white;
    font-size: 25px;
    background-color: rgba(119, 119, 119, 0.5);
    max-width: 500px;
    position: absolute;
    left: 30%;
    padding: 40px;
}

input[type=text], [type=email]{
    width: 100%;
    padding: 10px 15px;
    margin: 4px 0;
    box-sizing: border-box;
}

input[id=message]{
    padding: 25px;
}

input[type=submit]{
    padding: 12px 20px;
    background-color: crimson;
}

/* sign up form  */
#sign-up{
    background-image: url('../images/pexels-cottonbro-3992874\ copy.jpg');
    height: 600px;
    position:relative; 
}

.form-signup{
    margin: 80px 10% 0 0;
    color: white;
    font-size: 25px;
    background-color: rgba(119, 119, 119, 0.5);
    max-width: 500px;
    left: 30%;
    padding: 40px;
    position: absolute;
}

.form-signup h1 {
     color: black;
     margin-bottom: 20px;
}

/* Media queriers */
@media screen and (max-width:1200px) {
    #about{
        width: inherit;
        height: 450px;
        margin: 0 auto;
    }
    #left, #right {
        width: 38%;
        float: left, right;
        padding: 50px;
    }
    hr{ display: none;}

    #right > p {
        font-size: inherit;
    }
}

/* responsive header, screen size 905px */
@media screen and (max-width: 900px) {
    #menu, {
        clear: right;
        float: :right;
        margin-right: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 80%;
        
        
    }

    #logo {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-top: 35px;
        line-height: 25px;
        font-size: 180%;
    }
    
}
    
}